server {
    listen       80;
    server_name  localhost;

    access_log /var/log/nginx/lighthouse_access__access_log compression;
    error_log /var/log/nginx/lighthouse_access_log_error_log;

    location / {
        root   /var/www/lighthouse;
        index   index.html;
    }
}
